header.header
  .header__wrapper
    .header__column
      a(href=routes.home)
        i.fab.fa-youtube
    .header__column
      form(method="get", action=routes.search)
        input(type="text", name="term" placeholder="search by term...")
    .header__column
      ul
        if !loggedUser
          li
            a(href=routes.join) Join
          li
            a(href=routes.login) Login
        else 
          li
            a(href=`/videos${routes.upload}`) Upload
          li
            a(href=routes.me) Profile
          li
            a(href=routes.logout) Logout
