header.header
  .header-column
  a(href=routes.home)
    i.fab.fa-youtube
  .header-column
    form(method="get", action=routes.search)
      input(type="text", name="term" placeholder="search by term...")
  .header-column
    ul
      li
        a(href=routes.join) Join
      li
        a(href=routes.login) Login
      li
        a(href=routes.user) User
      li
        a(href=routes.search) Search
      li
        a(href=routes.video) Video