extends layouts/main

block content
  .video-player
    video(src=`/${video.fileURL}`)
  .video-info
    a(href=routes.editVideo(`${video.id}`)) Edit video
    h5.video-title=video.title
    span.video-views=video.views
    p.video-description=video.description