extends layouts/main
include mixins/videoPlayer
block content
  .video-detail
    +videoPlayer({
      src: video.fileURL
    })
    .video-info
      if loggedUser && video.creator.id === loggedUser.id
        a(href=routes.editVideo(video.id)) 
          button Edit video
      h5.video-info__title=video.title
      p.video-info__description=video.description
      if video.views === 1
        span.video-info__views 1view
      else
        span.video-info__views #{video.views} views
      .video-info__auth
        |Uploaded by 
        a(href=routes.userDetail(video.creator.id))=video.creator.name
    .video-comments
      if video.comments.length === 1
        span.video-comments__number
          span#jsCommentNumber 1
          |comment
      else
        span.video-comments__number
          span#jsCommentNumber #{video.comments.length}
          |comments
      form.add__comment#jsAddComment
        if loggedUser 
          input(type="text", placeholder="Add a comment" class="login")
        else
          input(type="text", placeholder="Add a comment")
      ul.video-comments__list#jsCommentList
        //- each comment in video.comments.reverse()
        each comment in commentList.reverse()
          li.video-comments__item
            .video-comments__creator-thumb
              if comment.creator.avatarUrl
                img(src=`../${comment.creator.avatarUrl}`, alt=`${comment.creator.name}`)
              else
                span
            .video-comments__info
              span.video-comments__creator=comment.creator.name
              span.video-comments__date=moment(comment.createdAt).format('YYYY-MM-DD hh:mm:ss')
              span.video-comments__content=comment.text
            if loggedUser && comment.creator.id == loggedUser.id
              button.jsDelCommentBtn(data-id=`${comment.id}`) Delete
